*{
    font-family: 'Roboto', Arial, sans-serif;
}
html, 
body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.header, 
.footer, 
.middle_block_story{
    background-color: #011827;
    color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
     cursor: pointer; 
}
.header a:hover, 
.footer a:hover, 
.header a:active, 
.footer a:active{
color: #8acfe5;
}

button {
  cursor: pointer; 
}
.logo{
    width: 128px;
    height: 82px;
}
.main{
    background-color: white;
    color: black;

}
.main_img {
    display: block;
    width: 100%;
    max-height: 468px;
    object-fit: cover; 
}

/*DARK MODE*/
@media (prefers-color-scheme: dark){
.main {
    background-color: #b6bdb5;
}
.btn_challenges.primary{
    color: #8acfe5;
    border: 2px solid #8acfe5;  
    background-color: white;
}
}

