.footer h3{
    font-weight: 700;
    font-size: 1.125rem;
    margin: 0;
}
.footer-details{
    font-style: normal;
}
.footer{
    display: flex;
    flex-direction: column;
    max-height: 35.4rem;
    padding: 3rem 0 3rem 1.5rem;
    box-sizing: border-box;
    font-size: 1.15rem;
}
.footer-container{
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0.5rem 0;
}
.nav-footer ul li:nth-of-type(3){
    padding-bottom: 1rem;
}

.footer-container ul{
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
    padding: 0 1rem 0.2rem 0;
    margin-top: 0.5rem;
}
.footer-container p{
    max-width: 27.4rem;
    margin-top: 0.5rem;
}

@media screen and (min-width: 600px) {
    .footer{
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-details, .nav-footer{
    flex: 1 1 auto;
} 
.footer-container{
    padding: 2.5rem 0;
    }
.footer-container p{
    max-width: 26rem;
    margin-right: 1.5rem;
}
}

@media screen and (min-width: 1280px) {
    .footer{
    padding: 0;
    }

    .footer-container{
    padding: 6.75rem;
    }
    .footer-container p{
    margin-right: 0;
}
}
