.header {
    top: 0; /*offset to make position: sticky work*/
    position: sticky;
    max-height: 13.5rem;
    box-sizing: border-box;
    /* display: grid; */
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    box-sizing: border-box;
    padding: 1rem;
}

.header img {
    padding: 0.5rem;
}

.header h1 {
    font-weight: 700;
    width: 5rem;
    font-size: 1.3rem;
    padding: 0 0.2rem 0 0.7rem;
    overflow-wrap: break-word;
}

.nav-header ul {
    display: none;
}

@media screen and (min-width: 600px) { 
    .nav-header ul {
        display: flex;
        justify-content: center;
    }

    .header h1 {
        font-size: clamp(1.3rem, 4vw + 0.6rem, 2.5rem);
        overflow-wrap: normal;
        flex: 1 1 auto;
    }

    .header>nav ul li {
        font-weight: 700;
        padding: 1rem 0 0 1.5rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 900px)  { 
    .nav-header ul {
        display: flex;
        justify-content: space-around;
    }
    .nav-header {
        padding: 0 10rem;
    }   
}